body {
    background-color: gainsboro;
    font-family: 'Rokkitt', serif;
}

h1 {
    background-color: darkviolet;
    padding: 30px;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Gugi', cursive;
}

img {
    max-width: 245px;
    max-height: 180px;
    /* margin-left: 40px; */
    margin-top: 20px;
    border-radius: 30px;
}

button[type=submit] {
    background-color: darkviolet !important;
    border-color: darkviolet !important;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.icon-Footer {
    width: 25px;
    margin-top: 0px;
}


/****************Home html*******************/

.homeBody {
    background-image: url("manos.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button[type=button] {
    background-color: darkviolet !important;
    border-color: darkviolet !important;
}